/*
Theme Name: mytheme
Author: Maxence Dubois
Description: Theme for non-profit organisation RLA
Version: 1.0
*/

#menu-menu-du-haut > li:last-child {
  background-color: #617b91;
  color: white;
  font-weight: bold;
}

/* Paramètres généraux */
/* General settings */

body {
  background-color: #f9f9f9;
}

h2 {
  font-family: "Arapey", Serif;
}

p {
  font-family: "Lato", Sans;
}

.header {
  margin-bottom: 1em;
}

.blog-post {
  margin-bottom: 5em;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

/* Ombre derrière les pages */
/* Shadow behind pages */

.page {
  box-shadow: 0px 0px 10px #9b9b9b;
  background-color: #fff;
}

/* Pour styliser la page d'accueil */
/* For home page styling */

.excerpt-title a {
  color: #333;
}

.excerpt-title a:hover {
  text-decoration: none;
}

.articles .single-product-archive:nth-of-type(2) {
	border-left: 0.1em solid lightgrey;
	border-right: 0.1em solid lightgrey;
}

/* Pour styliser l'en-tête des pages */
/* For pages' header styling */

.logo {
  margin: 2em 0;
}

.logo-rla {
  margin-top: 1em;
}

.wp-post-image {
  width: 100%;
  height: auto;
}

.contact-header {
  padding: 0.5em 0 0 3em;
  background-color: #55524f;
  border-radius: 0.5em;
  color: white;
  font-weight: bold;
}

.site-description {
  font-weight: bold;
  margin: 0 1em;
}

.button-bars {
  color: white;
}

/* Pour la page 404 */
/* For the 404 page */

.error-title {
	font-size: 7em;
}

.error-paragraph {
	font-size: 3em;
}

/* Pour styliser le bandeau */
/* For the band styling */

.band {
	padding: 0;
	border-right: 0.2em solid #fff;
}

.band-height {
	height: 10em;
	overflow: hidden;
}

.band img {
    display: block;
}

.portrait img {
    width: 100%;
}
.landscape img {
    height: 100%;
}

.band:last-child{
  border-right: none;
}

.theme-label {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #e9e9e9;
  padding: 0.2em 0 0em 0.2em;
  margin: 0;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: linear-gradient(to bottom, rgba(200,200,200,.6) 0%, rgba(200,200,200,1) 80%);
  overflow: hidden;
  transition: all 0.5s;
}

.overlay-links {
  position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 1.5em;
}

.overlay-links * {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  padding-left: 0;
}

.overlay-links *:hover {
  font-weight: bold;
  text-decoration: none;
}

.category {
  font-weight: bold;
  margin-top: 1em;
}

.effects {
  margin-bottom: 1em;
}

#effect-1 .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect-1 .img.hover .overlay {
  height: 100%;
}

.worktitle {
	color: gold;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.7em 0 0.3em 0.2em;
}
